
.right{
  text-align: right;
}/*UTILIDADES */

.range{
  border:0;
  color:#f6931f;
  font-weight:bold;
} /*COMPONENTES*/



/*Estilos y sistema de estrellas inicio*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .classification {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

form.stars{

    padding: 0px;
    margin: 10px;
}
/*Estilos y Sistema de estrellas fin*/


.container__textarea--none{
  resize: none;
}/*UTILIDADES*/




/*Estilos de comentarios*/



/*COMPONENTE */
.comment{
  background-color: rgba(255,255,255,0.7) ;
  height: 20px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  color: black;
}

.input__com{
  height: 25px;
  display: flex;
  flex-direction: column;}

#newComment{
  outline: none;
  border: 0;
  width: 100px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border-bottom: 2px solid rgba(255,255,255,0);
  transition-duration: 200ms;
}

#newComment::placeholder{
  color:black;
}
#newComment:focus{
  border-bottom: 2px solid red;
}

.close{
  font-size: 16px;
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 20;
  transition-duration: 200ms;
  display: block;
  cursor: pointer;
  color:red;
}
/*Fin del sistema de comentarios*/


.grid__btn{
    width: 120px; /* set a width so it doesnt change upon hover */
    height: 40px;
    border: 0px solid #004B84;
    background: #f6931f;
    padding: 3px 21px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-family: Questrial;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 2px;
}
/*Fin página de productos*/

.card__link{
  color:#000;
  text-decoration: none;
}


.nav__input--nocheck{
  display: none;
}