/*
.div__img--product{

  padding: 40px 10px 20px 10px;

}


.div__specs{

    background-color: rgb(246, 244, 244);
    padding: 5px;
    margin: 5px;
    margin-bottom: 200px;

}
*/

.right{
  text-align: right;
}

.range{
  border:0;
  color:#f6931f;
  font-weight:bold;
}

/*Estilos y sistema de estrellas inicio*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .classification {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

form.stars{

    padding: 0px;
    margin: 10px;
}
/*Estilos y Sistema de estrellas fin*/


.container__textarea--none{
  resize: none;
}

/*Estilos de comentarios*/

.comment{
  background-color: rgba(255,255,255,0.7) ;
  height: 20px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  color: black;
}

.input__com{
  height: 25px;
  display: flex;
  flex-direction: column;}

#newComment{
  outline: none;
  border: 0;
  width: 100px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border-bottom: 2px solid rgba(255,255,255,0);
  transition-duration: 200ms;
}

#newComment::placeholder{
  color:black;
}
#newComment:focus{
  border-bottom: 2px solid red;
}

.close{
  font-size: 16px;
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 20;
  transition-duration: 200ms;
  display: block;
  cursor: pointer;
  color:red;
}
/*Fin del sistema de comentarios*/





/* Inicio CSS navbar*/
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(28, 150, 54);
  position: relative;
  z-index: 9;
}

.nav > .nav__header {
  display: inline;
}

.nav > .nav__header > .nav__title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav__btn {
  display: none;
}

.nav > .nav__links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav__links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav__links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav__check {
  display: none;
}

.nav__image{
  display: none;
}

@media (max-width:600px) {
  .nav > .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav__btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav__btn > label:hover,.nav  #nav__check:checked ~ .nav__btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav__btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav__links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(28, 150, 54);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav__links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav__check:not(:checked) ~ .nav__links {
    height: 0px;
  }
  .nav > #nav__check:checked ~ .nav__links {
    height: 150px;
    overflow-y: auto;
  }
  .nav > .nav__header > .nav__title{
    display: none;
  }
  .nav >.nav__header>.nav__image{
    display: inline-flex;
    height: 45px;
    width: 70px;
    margin-left: 10px;
  }
}
/*Fin del CSS navbar*/

/*Empieza el form*/

/*Se importa la siguiente fuente*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*Container para el formulario de contacto*/
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Se cambia la fuente de la clase, solo a los elementos escritos*/
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea,
.contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

/*Bloque del formulario de contacto*/
.contact {
  background:lightgreen;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.container__fieldset{
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact button[type="button"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

/*Acaba el form*/

/*Carousel*/

.carousel__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: #fff;
}

.carousel__paragraph {
  position: absolute;
  top: 60%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.carousel {
  width: 100%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}


.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}


.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  opacity: 0.5;
  margin: 3px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked+.slide-container .nav label {
  display: block;
}

@media (max-width: 600px) {
  .slide-image img{
    width: fit-content;
  }
  .carousel-controls .prev-slide{
    width: 5%;
  }
  .carousel-controls .next-slide{
    width: 5%;
  }
  .carousel-controls label{
    padding: 0 10px;
    width: 45%;
  }
}
/*Fin Carousel*/



/*Estilo página de productos*/

/* OJO aqui, no estoy colocando un ".tabla" porque no lo quiero ver en fullscreen  */
.table__image{
  display: contents;
  width: auto;
  position: absolute;
  left: 0;

}
.table__product{
  width: 38%;
  height: auto;

}
.table__comments{
  font-family: sans-serif;
  display: block;
  width: 38%;
  height: 600px;
  margin-left: 10px;

}
.table__description{
  /* estos tres primeros parametros me permitieron dejar esta barra a la derecha */
  position: absolute;
  line-height: 25px;
  right: 0;
  top: 0;
  width: 60% ;
  height: 100%;

}

.grid__btn {
  width: 120px; /* set a width so it doesnt change upon hover */
  height: 40px;
  border: 0px solid #004B84;
  background: #f6931f;
  padding: 3px 21px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: Questrial;
  text-decoration: none;
  vertical-align: middle;
  letter-spacing: 2px;
}

.table__row{

  padding: 5px 30px 5px 10px ;
}

.table{
  font-family: sans-serif;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  position: relative;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #212529;
  height: 100px;
  width: auto;
  padding: 0px 0px 10px 0px;
  color: #fff;
}


.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

.footer__socials li {
  margin: 0 10px;
  align-content: center;
}

.footer__socials--facebook{
  border: white solid 1px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 14px 10px 13px;
  margin: 0 10px;
}

.footer__socials{
border: white solid 1px;
border-radius: 5px;
text-decoration: none;
color: #fff;
align-content: center ;
padding: 10px 12px 10px 12px;
margin: 10px;
}

.socials i {

  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
  padding: 0px;
}

.footer__bottom {
  background: #000;
  width: auto;
  padding: 20px 0px 20px 0px ;
  text-align: center;
}

.footer__bottom p {
  float: center;
  font-size: 14px;
  word-spacing: 2px;
  font-family: sans-serif;
}

.footer__bottom p a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.footer__bottom span {
  text-transform: uppercase;

}
@media(max-width: 600px){
  .table{
      display: grid;
      grid-template-columns: auto;
      gap: 10px;
  }
  .table__description{
      display: inline-block;
      position: relative;
      margin: 10px;
      width: 100%;
      height: 500px;
  }
  .table__comments{
      font-family: sans-serif;
      position: relative;
      display: inline-block;
      width: 100%;
      height: 150px;
      margin-top: 120px;

  }
  .table__product{
      width: 100%;
      height: auto;
  }
  .table__image{
      position: relative;
      width: 100%;
  }
}
/*Fin página de productos*/


.card__link{
  color:#000;
  text-decoration: none;
}