
nav{
    background-color:rgb(28, 150, 54);
    
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

form{
    padding:20px 0px 0px 50px ;
}

.galeria{
    display: inline;
    width: 300px;
}

.card-esp{
    margin-bottom: 20px;
    
}

h1.titulogaleria{

    padding: 40px 0px 40px 0px;
    text-align: center;
    
}

.card{
    
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;


}

.card:hover{
    transform: scale(1.1);
}

.button {
    width: 120px; /* set a width so it doesnt change upon hover */
    height: 40px;
    border: 0px solid #004B84;
    background: #f6931f;
    padding: 3px 21px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 12px;
    font-family: Questrial;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 2px;
  }
  
  .button:hover span {
    display:none;
  }
  
  .button:hover:before {
    content:"Agregar carrito";
  }
  
  .button:hover {
    background-color: #f6931f;
  }

a{
    text-decoration: none;
    color:black;
}

.imagenproducto{

  padding: 40px 10px 20px 10px;

}

.rowespecificaciones{

    background-color: rgb(246, 244, 244);
    padding: 5px;
    margin: 5px;
    margin-bottom: 200px;

}

.imagens{
  height: 7rem;
}

.titulo{
  margin-bottom: 220px;
}

.navarimg{
  width: 45px;
}

.escondido{
  background-color: rgba(102, 201, 99, 0.768);
}

.centrado{
  text-align: center;
}
.derecha{
  text-align: right;
}
.rango{
  border:0;
  color:#f6931f;
  font-weight:bold;
}

.foterdiv{
  background-color: rgba(0, 0, 0, 0.6);
}


footer{
  margin-bottom: -350px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

form.estrellas{

    padding: 0px;
    margin: 10px;
}
div #carro{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
#Resumen{
  color: #f6931f;
  text-align: center;
  padding: 1px 0px 20px 0px;

}
#Pagar{
background-color: #f6931f;
border: 0px;
}
#caja{
    border-radius: 12px;
}
body{
    padding-bottom: 220px;
}
textarea{
  resize: none;
}

.comentario{
  background-color: rgba(255,255,255,0.7) ;
  height: 20px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 20px;
  color: black;
}

.input-com{
  height: 25px;
  display: flex;
  flex-direction: column;}

#nuevocomentario{
  outline: none;
  border: 0;
  width: 100px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  background-color: transparent;
  color: black;
  border-bottom: 2px solid rgba(255,255,255,0);
  transition-duration: 200ms;
}

#nuevocometario::placeholder{
  color:black;
}
#nuevocomentario:focus{
  border-bottom: 2px solid red;
}

.close{
  font-size: 16px;
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 20;
  transition-duration: 200ms;
  display: block;
  cursor: pointer;
  color:red;
}
