$colorGreen:rgb(28, 150, 54);
$colorWhite: #fff;
$colorBlack:black;
$colorLgreen:lightgreen;
$colorGrey:#aaa;
$colorOrange:#f6931f;
$colorShadow:rgba(0,0,0,.2);
$colorFooter:#212529;
$colorDShadow:rgba(0, 0, 0, 0.5);
$colorDgreen:darkgreen;
$colorYellow:rgba(255, 252, 127,1);

