/* estilo botones de producto */
.grid__btn{
    margin: 20px;
    padding: 3px 21px;
    width: 120px; 
    height: 40px;
    border-radius: 10px;
    background-color: $colorOrange;
    color: $colorWhite;
    font-size: 12px;
    font-family: $fontQuestrial;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 2px;
    border: 0px;
    transition: transform 0.2s ease;
}
.newcart__pay{
    color: $colorWhite;
    background-color: $colorOrange;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border:none;
    position: relative;
    left: 43%;
    top: 43%;
    margin-bottom: 15px;
}
.grid__btn--close{
    margin: 20px;
    padding: 3px 21px;
    width: 120px; 
    height: 40px;
    border-radius: 10px;
    background-color: $colorOrange;
    color: $colorWhite;
    font-size: 12px;
    font-family: $fontQuestrial;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 2px;
    border: 0px;
}