
/*Estilos y sistema de estrellas inicio*/
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;

    p {
        text-align: center;
      }
      label {
        font-size: 20px;
      }
  }
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .classification {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

form.stars{

    padding: 0px;
    margin: 10px;
}
/*Estilos y Sistema de estrellas fin*/