//Animacion de carta producto
.grid__card:hover{
    transform: scale(1.1);
}

/* animaciones de botones de producto */
.grid__btn:hover{
    transform: scale(1.2);
    span{
        display:none
    }
    &::before{
        content:"Agregar carrito";
    }
}

//Carrito animacion
.cart__pay:hover,.cart__reset:hover{
    transform: scale(1.1);
    background: $colorGreen;
}



//Formulario animaciones
.container__contact input[type="text"]:hover,
.container__contact input[type="email"]:hover,
.container__contact input[type="tel"]:hover,
.container__contact input[type="url"]:hover,
.container__contact textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid $colorDShadow;
}

.container__contact button[type="button"]:hover {
    background: $colorDgreen;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  